/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Set a background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Google's background color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

/* Navigation styles */
nav {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
}

nav a {
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
}

/* Header styles */
h1 {
    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%; /* Make images responsive */
    height: auto;
}

#text-input {
    padding: 10px;
    width: 80%; /* Adjusted width for better responsiveness */
    max-width: 500px; /* Set a max-width for larger screens */
    border: 1px solid #dfe1e5; /* Google's search box border color */
    border-radius: 24px; /* Google's search box border radius */
    outline: none;
}

#search-btn {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #4285f4; /* Google's search button color */
    color: white;
    border: none;
    border-radius: 24px; /* Google's search button border radius */
    cursor: pointer;
}

#search-btn:hover {
    background-color: #357ae8; /* Google's search button hover color */
}

/* Results container styles */
#search-results {
    margin: 20px;
}

/* GIPHY results */
#search-results {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 1vh;
    width: 90%;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.gif {
    padding: 13pt 0;
}

footer {
    margin-top: 40px;
    font-style: italic;
    color: #555;
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa; /* Match the background color of the body */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 70%;
}
